.contactSection{
  padding:60px 20px;
  position: relative;
}

/* divider */
.contactSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}

.contactContainer{
  max-width:1200px;
  margin:auto;
}

/* HEADING */
.title{
  text-align:center;
  font-size:46px;
  margin-bottom:10px;
  color:#fff;
}

.highlight{
  font-size:56px;
  color:#E46C39;
  font-family:"Cormorant Garamond", figtree;
  font-style:italic;
}

/* SUBTEXT */
.subText{
  text-align:center;
  max-width:800px;
  margin:0 auto 50px;
  color:#d1d5db;
  font-size:18px;
  line-height:1.6;
}

/* GRID */
.contactGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

/* INFO */
.contactInfo p{
  margin-bottom:25px;
  font-size:18px;
  color:#ffffff;
}

.link{
  color:#d1d5db;
  text-decoration:none;
  font-size: 18px;
}

.link:hover{
  text-decoration:underline;
}

/* BUTTON GROUP */
.btnGroup{
  margin-top:30px;
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

/* PRIMARY BTN */
.contactBtn{
  padding:10px 22px;
  border-radius:999px;
  font-size: 16px;
  letter-spacing: 1px;

  background:#E46C39;
  color:white;
  text-decoration:none;

  transition:0.3s;
}

.contactBtn:hover{
  background:#cf5d2f;
}

/* SECONDARY BTN (Instagram) */
.secondaryBtn{
  padding:10px 22px;
  border-radius:999px;
  font-size: 16px;
  letter-spacing: 1px;
  border:1px solid rgba(255,255,255,0.2);
  color:white;
  text-decoration:none;

  transition:0.3s;
}

.secondaryBtn:hover{
  background:#E46C39;
  border-color:#E46C39;
}

/* MAP */
.map iframe{
  width:100%;
  height:320px;
  border:none;
  border-radius:12px;
}

/* ================= TABLET ================= */
@media (max-width:1024px){

  .contactGrid{
    gap:25px;
  }

  .title{
    font-size:36px;
  }

  .highlight{
    font-size:48px;
  }

  .contactInfo p{
    font-size:16px;
  }

}

/* ================= MOBILE ================= */
@media (max-width:768px){

  .contactSection{
    padding:40px 20px;
  }

  .contactGrid{
    grid-template-columns:1fr;
    gap:30px;
  }

  .contactInfo{
    text-align:center;
  }

  .btnGroup{
    justify-content:center;
  }

  .title{
    font-size:32px;
  }

  .highlight{
    font-size:42px;
  }

  .subText{
    font-size:14px;
    margin-bottom:30px;
  }

  .map iframe{
    height:220px;
  }

}