.section{
  padding:50px 20px 70px;
}

.container{
  max-width:1150px;
  margin:auto;
}

.heading{
  font-size:36px;
  margin-bottom:40px;
  text-align:center;
}

.heading span{
  color:#E46C39;
}

/* CARD */
.card{
  background:#000000;
  padding:40px;
  border-radius:12px;
  box-shadow:0 15px 40px rgba(0,0,0,0.08);
  max-width:700px;
  margin:auto;
  text-align:center;
}

/* NAME */
.name{
  font-size:26px;
  margin-bottom:5px;
}

/* ROLE */
.role{
  font-size:16px;
  color:#666;
  margin-bottom:20px;
}

/* INFO GRID */
.infoGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  text-align:left;
  margin-bottom:20px;
}

.infoGrid p{
  font-size:16px;
}

/* TRUST LINE */
.trust{
  font-size:14px;
  margin-bottom:20px;
  color:#333;
}

/* BUTTON */
.btn{
  display:inline-block;
  padding:12px 28px;
  background:#E46C39;
  color:#fff;
  border-radius:6px;
  text-decoration:none;
  transition:0.3s;
}

.btn:hover{
  background:#cf5a2a;
}

/* TABLET */
@media (max-width:1024px){

  .heading{
    font-size:30px;
  }

  .card{
    padding:30px;
  }

  .name{
    font-size:22px;
  }

  .infoGrid{
    grid-template-columns:1fr;
  }
}

/* MOBILE */
@media (max-width:768px){

  .heading{
    font-size:24px;
  }

  .card{
    padding:20px;
  }

  .name{
    font-size:20px;
  }

  .role{
    font-size:14px;
  }

  .infoGrid{
    grid-template-columns:1fr;
    text-align:left;
  }

  .btn{
    width:100%;
  }
}