.section{
  padding:60px 20px;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}

.container{
  max-width:1200px;
  margin:auto;
  display:flex;
  gap:60px;
  align-items:center;
}

/* ================= LEFT ================= */

.left{
  flex: 0 0 45%;
  display:flex;
  flex-direction:column;
  justify-content:center; 
}

.left h2{
  font-size:60px;
  line-height:1.2;
  margin-bottom:25px;
}

.left span{
  color:#E46C39;
}

.left p{
  font-size:18px;
  color:#d1d5db;
  margin-bottom:30px;
  line-height:1.6;
}

/* CTA BOX */
.ctaBox{
  border:1px solid rgba(255,255,255,0.2);
  padding:25px 40px;
  border-radius:12px;
  max-width:520px;
}

.ctaBox h4{
  font-size:20px;
  margin-bottom:8px;
}

.ctaBox p{
  font-size:16px;
  color:#d1d5db;
}

.ctaBox a{
  display:inline-block;
  margin-top:12px;
  padding:10px 22px;
  background:#E46C39;
  color:#fff;
  border-radius:6px;
  text-decoration:none;
  transition:0.3s;
  font-size: 16px;
}

.ctaBox a:hover{
  background:#cf5a2a;
}

/* ================= RIGHT ================= */

.right{
  flex: 0 0 55%;
}

/* FAQ CARD */
.faqItem{
  border:1px solid rgba(255,255,255,0.2);
  border-radius:12px;
  margin-bottom:15px;
  overflow:hidden;
  transition:0.3s;
}

.faqItem:hover{
  border-color:#E46C39;
}

/* QUESTION */
.question{
  padding:18px;
  font-size:16px;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* ICON */
.question span{
  font-size:20px;
}

/* ANSWER */
.answer{
  padding:18px;
  background:rgba(255,255,255,0.05);
  color:#d1d5db;
  line-height:1.6;
  font-size:16px;
}

/* ================= TABLET ================= */

@media (max-width:1024px){

  .container{
    gap:40px;
  }

  .left h2{
    font-size:38px;
  }

  .left p{
    font-size:16px;
  }

}

/* ================= MOBILE ================= */

@media (max-width:768px){

  .container{
    flex-direction:column;
  }

  .left{
    flex:100%;
    text-align:center;
  }

  .right{
    flex:100%;
  }

  .left h2{
    font-size:28px;
  }

  .left p{
    font-size:15px;
  }

  .ctaBox{
    margin:auto;
  }

  .question{
    font-size:15px;
    padding:15px;
  }

  .answer{
    font-size:14px;
  }
}