:root {
  --h1-size: 80px !important;
  --h2-size: 46px !important;
  --h2-mobile: 32px !important;
}

body{
  /* font-family: "monospace",Figtree, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  background: #202021;
  word-spacing: 1px;
  letter-spacing: 1px;
}

html, body{
  overflow-x: hidden;
  max-width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight{
  /* font-family: "Cormorant Garamond", figtree; */
  font-style: italic;
}


