body{
  font-family: "Figtree", sans-serif;
}

html, body{
  overflow-x: hidden;
  max-width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight{
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
}

