.nelongHero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nelongHeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nelongHero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.nelongHeroContent {
  position: relative;
  z-index: 2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding-top: 250px;
}

.nelongHeroContent h1 {
  max-width: 900px;
  font-size: 75px;
  line-height: 105px;
}

.nelongHighlight {
  font-size: 90px;
  font-weight: 900;
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
  color: #E46C39;
}

.nelongHeroContent p {
  max-width: 800px;
  font-size: 18px;
  margin-top: 10px;
}

.nelongBtnGroup {
  padding-top: 20px;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nelongBtn {
  padding: 12px 28px;
  font-size: 16px;
  letter-spacing: 1px;

  border-radius: 999px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: white;
  cursor: pointer;

  transition: all 0.3s ease;
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

.nelongBtn:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 40px rgba(0,0,0,0.35);
}

.primaryBtn {
  background: rgba(228, 108, 57, 0.9);
}

.secondaryBtn {
  background: rgba(15, 61, 46, 0.9);
}

/* TABLET */
@media (max-width: 1024px) {
  .nelongHeroContent {
    padding-top: 120px;
  }

  .nelongHeroContent h1 {
    font-size: 70px;
    line-height: 90px;
  }

  .nelongHighlight {
    font-size: 90px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .nelongHeroContent {
    padding: 80px 15px 0;
  }

  .nelongHeroContent h1 {
    font-size: 42px;
    line-height: 60px;
  }

  .nelongHighlight {
    font-size: 48px;
  }

  .nelongHeroContent p {
    font-size: 16px;
  }

  .nelongBtnGroup {
    flex-direction: column;
  }

  .nelongBtn {
    font-size: 14px;
    padding: 10px 18px;
  }
}