.section{
  padding:60px 20px;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}


.container{
  max-width:1200px;
  margin:auto;
}

.title{
  font-size:40px;
  margin-bottom:30px;
}

.highlight{
  font-size: 48px;
  color: #E46C39;
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
}

/* STEPS */
.steps{
  display:flex;
  flex-direction:column;
  gap: 30px;
}

/* STEP ITEM */
.step{
  font-size:18px;
  padding:14px 18px;
  border-left:4px solid #E46C39;
  background: rgba(0,0,0,0.02);
}

/* TABLET */
@media (max-width:1024px){
  .title{
    font-size:32px;
  }

  .highlight{
    font-size:38px;
  }

  .step{
    font-size:16px;
  }
}

/* MOBILE */
@media (max-width:768px){

  
  .section{
    padding:30px 20px;
  }
  
  .title{
    font-size:28px;
    text-align:center;
  }

  .highlight{
    font-size:30px;
  }

  .step{
    font-size:15px;
    padding:12px;
  }
}