.section{
  padding:60px 20px;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}

.container{
  max-width:1200px;
  margin:auto;
}

/* ================= STEP ================= */

.step{
  margin-bottom:40px;
}

.content h3{
  font-size:24px;
  margin-bottom:10px;
}

.content p{
  font-size:18px;
  line-height:1.7;
  margin-bottom:10px;
}

a{
  text-decoration:none;
  color:#E46C39;
}

/* ================= IMAGE ================= */

.image{
  margin-top:40px;
  display:flex;
  justify-content:start;
}

.image img{
  width:100%;
  max-width:500px;
  height:auto;              /* 🔥 full image visible */
  object-fit:contain;       /* 🔥 no crop */
  border-radius:10px;
}

/* ================= IMPORTANT ================= */

.importantSection{
  margin:40px 0;
}

.importantTitle{
  font-size:28px;
  margin-bottom:15px;
}

.importantList{
  padding-left:20px;
}

.importantList li{
  font-size:17px;
  margin-bottom:10px;
  line-height:1.7;
}


.ctaSection{
  margin-top:50px;
  padding:60px 20px;
  text-align:center;
  border:1px solid #3a3636;
  border-radius: 10px;
}

.ctaTitle{
  font-size:28px;
  margin-bottom:15px;
}

/* .ctaTitle span{
  color:#E46C39;
} */

.highlight{
   font-size: 40px;
  font-weight: 900;
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
  color: #E46C39;
}

.ctaText{
  max-width:600px;
  margin:0 auto 15px;
  font-size:18px;
  color:#ffffff;
  line-height:1.6;
}

.ctaPoints{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-bottom:20px;
  font-size:18px;
  color:#ffffff;
}

.ctaBtn{
  display:inline-block;
  padding:12px 28px;
  background:transaprent;
  font-size: 16px;
  color:#fff;
  border-radius:999px;
  text-decoration:none;
  transition:0.3s;
  border: 1px solid rgba(255,255,255,0.2);
}

.ctaBtn:hover{
  background:#cf5a2a;
}

@media (max-width:1024px){

  .content h3{
    font-size:20px;
  }

  .content p{
    font-size:16px;
  }

  .importantTitle{
    font-size:24px;
  }

  .importantList li{
    font-size:16px;
  }
}

/* ================= MOBILE ================= */

@media (max-width:768px){

  .section{
    padding:30px 20px;
  }

  .content h3{
    font-size:18px;
  }

  .content p{
    font-size:15px;
  }

  .image img{
    max-width:100%;
  }

  .importantTitle{
    font-size:22px;
    text-align:center;
  }

  .importantList{
    padding-left:15px;
  }

  .importantList li{
    font-size:14px;
  }

  .ctaTitle{
    font-size:22px;
  }

  .ctaText{
    font-size:14px;
  }

  .ctaPoints{
    flex-direction:column;
    gap:8px;
  }

  .ctaBtn{
    width:100%;
    display:block;
  }
}