.treksSection{
  padding:80px 20px;
  background:rgb(0, 0, 0);
}

.treksContainer{
  max-width:1200px;
  margin:auto;
}

.sectionTitle{
  text-align:center;
  font-size:48px;
  margin-bottom:50px;
  color: #fff;
}

.highlight{
  font-size: 80px;
  color:#E46C39;
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
}


.treksGrid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.trekCard{
  border-radius:12px;
  overflow:hidden;
  background:white;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:0.3s;
}

.trekCard:hover{
  transform:translateY(-6px);
}

.trekCard img{
  width:100%;
  height:230px;
  object-fit:cover;
}

.trekContent{
  padding:20px;
  text-align:center;
}

.trekContent h3{
  margin-bottom:10px;
  color:#000000;
  font-size: 24px;
}

.trekContent p{
  font-size:17px;
  color:#555;
}

.treksSection{
  padding:80px 20px;
  background:rgb(0, 0, 0);
}

.treksContainer{
  max-width:1200px;
  margin:auto;
}

.sectionTitle{
  text-align:center;
  font-size:48px;
  margin-bottom:50px;
  color: #fff;
}

.highlight{
  font-size: 80px;
  color:#E46C39;
  font-family: "Cormorant Garamond", figtree;
  font-style: italic;
}


.treksGrid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.trekCard{
  border-radius:12px;
  overflow:hidden;
  background:white;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:0.3s;
}

.trekCard:hover{
  transform:translateY(-6px);
}

.trekCard img{
  width:100%;
  height:230px;
  object-fit: cover;
  object-position: top 0;
}

.trekContent{
  padding:20px;
  text-align:center;
}

.trekContent h3{
  margin-bottom:10px;
  color:#000000;
  font-size: 24px;
}

.trekContent p{
  font-size:17px;
  color:#555;
}

@media (max-width: 768px) {

  .treksSection{
    padding: 40px 20px;
  }

  .treksGrid {
    grid-template-columns: 1fr; /* 🔥 1 card */
    gap: 40px;
  }

  .sectionTitle {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .highlight {
    font-size: 50px;
  }

  .trekCard img {
    height: 200px;
  }

  .trekContent h3 {
    font-size: 20px;
  }

  .trekContent p {
    font-size: 15px;
  }

}